* {
    margin:0;
    padding:0;
}
html, body {
    margin: 0;
    background-color: #FFFFFF;
    background: linear-gradient(#FFFFFF, #c1c1c1);
    font-family: Verdana, Arial, sans-serif;
    min-width: 650px;
    min-height: 100%;
}

h1 {
    font-family: Papyrus, fantasy;
    font-size: 200%;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
}

h3 {
    font-family: Papyrus, fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
}

#header {
    margin: 0 auto;
    font-size: 35px;
    background-color: #990000;
    background: radial-gradient( #52ff76, #647267);
    text-align: center;
    color: #000000;
    padding: 30px 10px 30px 10px;
    background-repeat: no-repeat;
}

#wrapper {
    margin: 0 auto;
    min-height: 550px;
    width: 80%;
    min-width: 850px;
    color: #000000;
}

tr.even {
    background-color: #68714a;
    color: white;
}

tr.odd {
    background-color: #cccccc;
    color: black;
}

#content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;
    min-height: 650px;
    padding: auto; 
    overflow: auto;
    height: 100%;
}

.pagination{
    border-collapse: collapse;
}

.pagination td{
    width: 20px;
    text-align: center;
}

th, td {
    width:100px;
}

th{
    height: 40px;
    background-color: #0e0f0e;
    color: white;
}

td {
    width: 100px;
    height: 25px;
}

.date{
    width:150px;
}

table.main {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}


.flash {
    color:#cc3300;
}

td.money{
    text-align: right;
}


table.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 400px;
}
.accPic{
    float: right;
    
}

#nav {
    list-style-type: none;
    background-color: #4b4747;
    height: 30px;
}

#nav ul{
    list-style-type: none;
}

#nav li {
    height: 28px;
    width:160px;
    text-align: center;
    position:relative;
    float:left;
    margin-right: 3px;
}

#nav a{
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 28px;
    alignment-adjust: auto;
    display: block;
    background-color: #4b4747;
    width: 160px;
    margin: 0 auto;
}

#nav a:link {
    color: #FFFFFF;
}

#nav a:visited{
    color: #ffff99;
}
#ft {
    background: linear-gradient(#FFFFFF, #c1c1c1);
    clear: both;
    padding: 1em;
    text-align: center;
    color: #222222;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

#nav .sub {
    background-color: #4b4747;
    width:  160px;
    left: 0px;
}

#nav ul.sub{
    display: none;
    position: absolute;
}

#nav .sub li {
    margin-top: 4px;
}

#nav .sub a {
    margin-top: 1px;
    width: 160px;
    font-size: 15px;
}

#nav li:hover > a {
    background-color: #545554;
    color: #FFFFFF;
}

#nav li:hover .sub{
    display:block;
}

.darrow {
    font-size: 9pt;
    position:absolute;
    top:7px;
    right:16px;
}

a {
    color: #142ff8;
    font-size: 15px;
}

.account {
    margin: 18px;
    border: 1px solid #990000;
    padding: 8px;
    background: #dddddd;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #4b4747;
    color: #000000;
}

.accNum{
    font-weight: bold;
    color: #5c0101;
}
.joinDate {
    font-size: smaller;
    color: #000000;
}

textarea{
    resize: none;
}

