
html, body {
    margin: 0;
    background-color: #333333;
    font-family: Verdana, Arial, sans-serif;
    height: 100%;
}

a {
    color: #938a8a;
}

#header {
    background-color: #990000;
    width: 90%;
    background: radial-gradient(#ff3333, #333333);
    text-align: center;
    border-radius: 6px;
    color: #000000;
    font-family: "Monofett";
    font-size: 150%;
    padding: 10px 10px 10px 155px;
    background-repeat: no-repeat;
}

#wrapper {
    min-height: 100%;
     margin: 0 auto;
     background: radial-gradient(#a8023c, #333333);
     width: 80%;
     float: bottom;
     height: auto;
     border-radius: 6px;
     min-width: 850px;
     background-color: #a8023c;
     color: #FFFFFF;
}

#content {
    min-height: 100%;
    padding: 10px 20px; 
    overflow: auto;
    height: 100%;
    
}

#body {
    margin-top: 0.5em;
    background: white;
    padding: 1em;
}

th{
    height: 40px;
    background-color: #666666;
    color: white;
}

tr.even {
    background-color: #990000;
    color: white;
}

tr.odd {
    background-color: #cccccc;
    color: black;
}



table, td, th {
    border: 0px;
    background-color: #cccccc;
    color: #130101;
}

table.main {
    width: 100%;
}

.flash {
    color:#cc3300;
}

th {
    text-align: left;
}

td.money{
    text-align: right;
}


table.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #cccccc;
}



#nav {
    float: left;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    color: #000000;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav a{
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: #999999;
    border-bottom: 1px solid #FFFFFF;
}

#nav a:link {
    color: #000000;
}

#nav a:visited{
    color: #EAEAEA;
}

#nav a:hover{
    color: #EAEAEA;
    background-color: #ff3333; 
}

.account {
    margin: 18px;
    border: 1px solid #990000;
    padding: 8px;
    background: #dddddd;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #4b4747;
    color: #000000;
}

.accNum{
    font-weight: bold;
    color: #5c0101;
}
.joinDate {
    font-size: smaller;
    color: #000000;
}

textarea{
    resize: none;
}

